
<h3>Wish Happy Birthday to your colleague!!!</h3>

<p>Hey, today is {{bday_member}}'s birthday. </p>

<br/>
<p>Happy birthday to the heart and soul of our team! Knowing you and being your colleague is a true pleasure! Wish your colleague a blissful day and a wonderful year ahead.</p>

<br/>
<p>Send a “taste” of your awesomeness to {{bday_member}} with your handmade artisan cakes & bakes.</p>

<br/>
<br/>
<p>With Best Wishes,</p>
<p>Relation</p>